html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdan, Arial, Tahoma;
}

#board {width:930px;  
			border-color:#888;
			border-width:2px;
			border-top-style:solid;
			border-bottom-style:solid;
			margin:0;
			padding:0;
}

div.row{	border-color:#ccc;
					border-width:1px;
					border-top-style:solid;
					border-bottom-style:solid;
					overflow:auto;
}

div.year{	width:50px; 						
					text-align:center;
					float:left;
}

div.work{	 width:750px; 
				float:left; 
}

#title_bar div.title{
			text-align:center;
}

div.month{width:50px; 
				text-align:center; 
				float:left;
}
